@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu_top {
  height: 70px;
  background-color: #161313;
}

.menu_top li {
  list-style-type: none;
}

.menu_top a {
  text-decoration: none;
  color: #f7f2f2;
  text-transform: capitalize;
}

h1 {
  color: aliceblue;
}

.menuu > li {
  position: relative;
}

.menuu > li:nth-of-type(1)::after {
  content: '';
  display: block;
  width: 60%;
  height: 5px;
  background-color: #60b4ec;
  position: absolute;
  left: 30px;
  bottom: 10px;
}

.menuu > li:nth-child(3) > a::after,
.menuu > li:nth-child(4) > a::after,
.menuu > li:nth-child(5) > a::after,
.menuu > li:nth-child(2) > a::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background-color: #60b4ec;
  position: absolute;
  bottom: 10px;
  left: 50%;
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menuu > li:nth-child(3) > a:hover::after,
.menuu > li:nth-child(4) > a:hover::after,
.menuu > li:nth-child(5) > a:hover::after,
.menuu > li:nth-child(2) > a:hover::after {
  width: 100%;
  left: 0;
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mah {
  color: #000000;
  font-size: 38px;
  font-weight: 40px;
  margin-top: 13px;
}

.yas {
  margin-left: 0px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.yas > li {
  list-style: none;
  color: #fc93fc;
  font-size: 38px;
  font-weight: 40px;
  position: relative;
  top: 0;
  -webkit-animation: sam 12s steps(4) infinite;
          animation: sam 12s steps(4) infinite;
}

.yas > li > span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.yas > li > span::after {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  height: 100%;
  width: 100%;
  border-left: 2px solid #ec78c6;
  -webkit-animation: sar 3s steps(10) infinite;
          animation: sar 3s steps(10) infinite;
  background-image: linear-gradient(54deg, #272829, #1c1c1d, #1b1a1a);
}

@-webkit-keyframes sar {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

@keyframes sar {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes sam {
  100% {
    top: -370px;
  }
}

@keyframes sam {
  100% {
    top: -370px;
  }
}

.nazi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 130px;
  margin: 0px 30px !important;
  background-color: #800080	  !important;
}

.nazi:hover {
  -webkit-box-shadow: 1px 1px 9px #e7eee7, -1px -1px 9px #c2c5c5;
          box-shadow: 1px 1px 9px #e7eee7, -1px -1px 9px #c2c5c5;
  background-color: inherit !important;
}

a {
  text-decoration: none;
  color: #ffff;
}

.cvto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px  7px !important;
}

.cvto:hover {
  -webkit-box-shadow: 1px 1px 9px #e7eee7, -1px -1px 9px #c2c5c5;
          box-shadow: 1px 1px 9px #e7eee7, -1px -1px 9px #c2c5c5;
  background-image: radial-gradient(circle at 30% 107%, #3967fd 0%, #84bbee 5%, #3632f1 45%, #2f4991 60%, #09a0f8 90%);
}

.zahr:hover {
  -webkit-box-shadow: 11px 11px 39px #e7eee7, -11px -11px 39px #c2c5c5;
          box-shadow: 11px 11px 39px #e7eee7, -11px -11px 39px #c2c5c5;
}

.worki {
  position: relative;
}

.worki .btn-buy {
  width: 120px;
  padding: 10px 0px;
  outline: none !important;
  border: 0;
  border-radius: 2px;
  position: absolute;
  background-image: radial-gradient(circle at 30% 107%, #3967fd 0%, #84bbee 5%, #68e7e7 45%, #ff149194 60%, #09a0f8 90%);
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0;
  z-index: 89;
  -webkit-transition: .6s;
  transition: .6s;
  color: #000000 !important;
  text-shadow: 1px 2px #000000;
}

.saran {
  height: 0%;
  width: 100%;
  background-color: #aeb3b8b9;
  position: absolute;
  top: 0;
  opacity: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.worki > img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.worki:hover .btn-buy {
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  bottom: 50%;
  opacity: 1;
}

.worki:hover .saran {
  opacity: .5s;
  height: 100%;
}

.title .baran {
  -webkit-animation: animatet 4s linear infinite;
          animation: animatet 4s linear infinite;
}

.bin {
  min-height: 130vh;
}

.fasa {
  color: #800080;
}

.naz {
  background-color: #800080 !important;
}

.naz:hover {
  -webkit-box-shadow: 1px 1px 9px #e7eee7, -1px -1px 9px #c2c5c5;
          box-shadow: 1px 1px 9px #e7eee7, -1px -1px 9px #c2c5c5;
  background-color: inherit !important;
}

@-webkit-keyframes animatet {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: rgba(178, 10, 255, 0.89);
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #000000;
    text-shadow: 0 0 10px #6fa6ee, 0 0 20px #83bfe2, 0 0 20px #292d31, 0 0 70px #598ae6, 0 0 40px #e7e5e2;
  }
}

@keyframes animatet {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: rgba(178, 10, 255, 0.89);
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #000000;
    text-shadow: 0 0 10px #6fa6ee, 0 0 20px #83bfe2, 0 0 20px #292d31, 0 0 70px #598ae6, 0 0 40px #e7e5e2;
  }
}

.root {
  text-shadow: 11px 11px 39px #f2f3f2, -11px -11px 39px #fcfbfb;
  background-image: radial-gradient(circle at 30% 107%, #201f1f 0%, #202020 5%, #1e2020 45%, #131212 60%, #1b1c1d 90%) !important;
}

.namnam {
  font-family: 'Roboto Slab', serif;
}

.bbb {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nmnm {
  font-family: 'Black Han Sans', sans-serif;
}

.vv {
  font-family: 'Dancing Script', cursive;
}
/*# sourceMappingURL=c.css.map */